@(person: Person)

@main("Review Person Details") {

<form id="reviewForm" action="@routes.SavePerson.savePerson()" method="post" class="form-horizontal">		
	<!-- First Name Input Group -->
	<div class="form-group">
		<label for="firstName" class="col-sm-2 control-label">First Name</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" name="firstName" id="firstName" 
			readonly="readonly" value="@person.getFirstName()">
		</div>
	</div>
	
	<!-- Last Name Input Group -->
	<div class="form-group">
		<label for="lastName" class="col-sm-2 control-label">Last Name</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" name="displayLastName" id="displayLastName"
			readonly="readonly">
			<input id="lastName" name="lastName" type="hidden" value="@person.getLastName()">
		</div>
	</div>
	
	<!-- Radio Button Control -->
	<div class="form-group">
		<div class="col-sm-offset-2" id="displayLastNameRadioGroup">
			<div class="row">
				<!-- Defaults to value of "show" -->
				<input type="radio" id="showLastName" name="displayLastNameRadio" checked="checked" value="show">Show Last Name
			</div>
			<div class="row">
				<input type="radio" id="hideLastName" name="displayLastNameRadio" value="hide">Hide Last Name
			</div>
		</div>
	</div>
	
	<!-- Age Input Group -->
	<div id = "ageGroup" class="form-group">
		<label for="age" class="col-sm-2 control-label">Age</label>
		<div id="ageInputContainer" class="col-sm-2">
			<input type="text" class="form-control" name="age" id="age"
				readonly="readonly" value="@person.getAge()">
		</div>
	</div>
	
	<!-- Submit Button -->
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="submit" type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</form>


<script type="text/javascript">
    
	//When Document is ready! 
	//Set up Age field correctly
	//Default value of radio group to show
	//Call showLastName() to initialize form
	$( document ).ready(function(){
		if($("#age").val() == ""){
			$("#age").removeAttr("type").attr("type","hidden");
			$("#ageInputContainer").append("<p class='form-control'><b>NO AGE GIVEN</b></p>");
		}
	    $("#displayLastNameRadioGroup").data("value","show");
	    showLastName();   
	});

    
	//Using JQuery to control radio clicks
    //Event for the hide radio button
	$("#showLastName").click(function(){
		setRadio();
	}); 
    	
    //Event for thie hide radio button
    $("#hideLastName").click(function(){
		setRadio();
    }); 
    
    //Sets the radio based on the hidden input "preservedValue" and the radio value after the event
    function setRadio(){
    	//Get previous value for radio group
		var preservedValue = $("#displayLastNameRadioGroup").data("value");
    	
    	if( preservedValue == "show") {
		    hideLastName();
		} else if( preservedValue == "hide") {
		    showLastName();
		}
    	
    	//Store the new value.
		$("#displayLastNameRadioGroup").data("value",$('input:radio[name=displayLastNameRadio]:checked').val())

    }
        
	//Form submission confirmation
	$("#reviewForm").submit(function(event){
		if(!confirm("are you sure you want to submit")){
			event.preventDefault();
		} 
	});
	
    //Makes changes to the DOM to show the last name. 
    function showLastName(){
    	$("#showLastName").prop("checked", true);
    	$("#displayLastName").val($("#lastName").val());
    }
    
    //Makes changes to the Dom to hide the last name.
    function hideLastName(){
    	$("#hideLastName").prop("checked", true);
    	$("#displayLastName").val("");
    }
    
</script>

}
